@charset "UTF-8";

/* stylelint-enable */


/* 全局变量 */

$textColor: #222D49;
$backgroundColor: #F5F5F5;

/* 重置样式 */

* {
    outline: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    color: $textColor;
    font-family: "Lato", Helvetica, Arial, "微软雅黑", "HeitiSC", sans-serif;
}

img {
    object-fit: cover;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    background: $backgroundColor;
    font-size: 16px;
    -webkit-text-size-adjust: 100% !important;
}

.btn-more {
    width: 140px;
    height: 48px;
    background: #4c68ff;
    box-shadow: 0px 5px 20px 0px rgba(49, 152, 255, 0.35);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    line-height: 16px;
}